<h1>MsPublishers#show</h1>
<p>Find me in app/views/ms_publishers/show.html.erb</p>

<label>Name :</label>
<%= @ms_publisher.name %>

<label>Phone :</label>
<%= @ms_publisher.phone %>

<label>Address :</label>
<%= @ms_publisher.address %>
