<h1>TrLoans#show</h1>
<p>Find me in app/views/tr_loans/show.html.erb</p>

<label>Member Name :</label>
<%= @tr_loan.member_name %>

<label>Member Phone :</label>
<%= @tr_loan.member_phone %>

<label>Member Email :</label>
<%= @tr_loan.member_email %>

<label>Ms book id:</label>
<%= @tr_loan.ms_book_id %>



